.container-fluid{
    background-image: linear-gradient(to bottom right,pink, rgb(199, 231, 247));
    min-height: 100vh;
}

body {
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Slab', serif;
}

h1{
    margin-top: 25px;
    text-align: center;
    font-size:large;
    font-weight: bold;
}

h6{
    margin-top: 10px;
    text-align: center;
}

tbody{
    background-color: white;
}

table { 
    border-collapse: separate; 
    border-spacing: 0 15px; 
     
}
td {
    border: solid #dee2e6;
    border-style: solid none;
    border-width: 1px;
    text-align: left;
    

}
td:first-child {
    border-left-style: solid;
    border-top-left-radius: 0.4rem; 
    border-bottom-left-radius: 0.4rem;
}
td:last-child {
    border-right-style: solid;
    border-bottom-right-radius: 0.4rem; 
    border-top-right-radius: 0.4rem; 
}
